/*========= style body============  */
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

}

/*============ style input section of the document =========== */
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
  margin-bottom: 20px;
}


.search-box {
  border: 1px solid tomato;
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
}

/*=========== style show data all porducts in UI from api ========== */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.product {
  flex: 33%;
}

.my-style {
  font-size: 18px;
  font-weight: 700;
}

.single-product-info {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.far.fa-star,
.fas.fa-users {
  color: tomato;
}

.product {
  border: 1px solid tomato;
  transition: 0.6s;
}

.product:hover {
  box-shadow: 4px 4px 7px gray;


}

.product-image {
  margin-bottom: 5px;
  padding: 15px;
  width: 150px;
  height: 150px;
}

.products-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =======style details part of the document  =====*/
.details-item {
  margin: 20px 0;
  padding: 15px;
  width: 500px;
  background: ivory;
  border: 1px solid tomato;
  border-radius: 5px;
}

.cart {
  width: 350px;
  background: ivory;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}

/*============== style responsive part of the document ========= */

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }

  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}